<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Animated signup Page</title>
    <link rel="stylesheet" href="signup_trial1.css">
    <title></title>
  </head>
  <body>
    <form class="box" action="index.html" method="post">
      <h1>Signup</h1>
      <input id = "username" type="text" name="Name:" value="" placeholder="Name">
      <input type="text" name="Email: " value="" placeholder="Email">
      <input id = "mob" type="text" name="Mob: " value="" placeholder="Mob. Number">
      <div id = 'feedback'></div>
      <input type="password" placeholder="Password" name="Password: ">
      <input type="submit" name="" value="Signup">
<br>
      <div class="btn-wrapper">
        <a href="#" class="btn signup"><i class="fa fa-envelope-square"></i>Login with Email</a>
<br><br>
        <p style="color:white">or</p>
        <br>
        <a href="#" class="btn facebook"> <span class="fa fa-facebook"></span> Login</a>
        <a href="#" class="btn twitter"> <span class="fa fa-twitter"></span> Login</a>
        <script src="https://use.fontawesome.com/0c5052e201.js"></script>
      </div>
    </form>
    <script type="text/javascript" src = "signup_trial1.js">

    </script>
  </body>
</html>
